<?xml version="1.0"?>

<application-server  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://xmlns.oracle.com/oracleas/schema/application-server-10_1.xsd"  localhostIsAdmin="true"
 application-directory="../applications"
 check-for-updates="adminClientOnly"
 deployment-directory="../application-deployments"
 connector-directory="../connectors"
 schema-major-version="10" schema-minor-version="0" >

	<init-library path="/app/oracle/10.1.3/j2ee/sicc_server/applications/sicc_server_peru/daemon-oc4j-startup.jar" />
	<startup-classes>
		<startup-class classname="es.indra.sicc.cmn.daemon.start.oc4j.SiCCStartup" failure-is-fatal="false" >
			<execution-order>0</execution-order>
			<init-param>
				<param-name>jmx_user</param-name>
				<param-value>oc4jadmin</param-value>
			</init-param>
			<init-param>
				<param-name>jmx_objectName</param-name>
				<param-value>sicc_server_peru:type=DemonManager,name=BelcorpStarter</param-value>
			</init-param>
			<init-param>
				<param-name>jmx_password</param-name>
				<param-value>manager1</param-value>
			</init-param>
		</startup-class>
	</startup-classes>


</application-server>
