/*
   INDRA/CAR/sic3
   $Id: estilosB3.css,v 1.1 2009/12/03 19:03:55 pecbazalar Exp $
   estilos de la nueva maqueta

   DRUIDATARGET=/install/cvsiniciales
*/
A.menu1{ font-family: Arial; font-size: 12px; color: #000000; text-decoration: none; text-align: left; height: 10px; } <!--Elemento de nivel 1-->
A.menu1:hover {font-family: Arial, Helvetica; font-size: 12px; color: #000000; font-weight:bold; text-align: left ; text-decoration: none; background-image: url(../img/es/menuresaltado.gif);} <!--Resaltado de nivel 1-->
A.menu1:active  {font-family: Arial, Helvetica; font-size: 12px; color: #000000; font-weight:bold; text-decoration: none; background-image: url(../img/es/menuresaltado.gif);}
A.menu2{ font-family: Arial; font-size: 12px;  color: #000000; text-decoration: none; text-align: left; height: 10px; } <!--Elemento de nivel 2-->
A.menu2:hover {font-family: Arial, Helvetica; font-size: 12px; color: #000000;  font-weight:bold; text-align: left ; text-decoration: none;  background-image: url(../img/es/menuresaltado.gif);} <!--Resaltado de nivel 2-->
A.menu2:active  {font-family: Arial, Helvetica; font-size: 12px; color: #000000;  font-weight:bold; text-decoration: none; background-image: url(../img/es/menuresaltado.gif);}
A.menu3{ font-family: Arial; font-size: 12px; color: #496A9A; text-decoration: none; text-align: left; height: 10px; } <!--Elemento de nivel 3-->
A.menu3:hover {font-family: Arial, Helvetica; font-size: 12px; color: #496A9A; font-weight:bold; text-align: left ; text-decoration: none;  background-image: url(../img/es/menuresaltado.gif);} <!--Resaltado de nivel 3-->
A.menu3:active  {font-family: Arial, Helvetica; font-size: 12px; color: #496A9A; font-weight:bold; text-decoration: none; background-image: url(../img/es/menuresaltado.gif);} <!--Casilla Activada-->
A.menu4{ font-family: Arial; font-size: 12px; color: #496A9A; text-decoration: none; text-align: left; height: 10px; } <!--Elemento de nivel 4-->
A.menu4:hover {font-family: Arial, Helvetica; font-size: 12px; color: #496A9A; font-weight:bold; text-align: left ; text-decoration: none;  background-image: url(../img/es/menuresaltado.gif);} <!--Resaltado de nivel 4-->
A.menu4:active  {font-family: Arial, Helvetica; font-size: 12px; color: #496A9A; font-weight:bold; text-decoration: none; background-image: url(../img/es/menuresaltado.gif);} <!--Casilla Activada-->
A.menu{ font-family: Arial; font-size: 12px; font-weight: bold; color: #000000; background-color: red;text-decoration: none; text-align: left; height: 10px; }
.menu{ font-family: Arial; font-size: 12px; font-weight: bold; color: #0000FF; background-color: red;text-decoration: none; text-align: left; height: 10px; }                        



#inicial {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bolder;
	color: #DBDBDB;
	text-align: left;
	height: auto;
	font-style: italic;

}
#main {
	cursor: hand;

}
#EstCab { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 9px; text-align: center; text-decoration: none; vertical-align: middle; } 
A.EstCab:hover { color: #465981; } 
#EstCab2 { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 9px; text-align: center; vertical-align: middle; } 
#EstDat { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #F0F0F0; vertical-align: left; } 
#EstDatC { color: #1E3887; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #EFF1F3; vertical-align: middle; text-align: center; } 
#EstDatC2 { color: #1E3887; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #DFE5E9; vertical-align: middle; text-align: center; } 
#EstDat2 { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #E0E0E0; vertical-align: left; } 
#EstDatForm { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; } 
#EstCajaDatForm { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; height: 16px; border: 1px solid black;} 
#input { font-family: Verdana, Arial, Helvetica; color:black; font-size:11px; border: 2 solid #000000; font-weight:bold; cursor: hand; background : white;} 
#EstEnlace { color: #232440; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; text-align: left; text-decoration: none; vertical-align: middle; } 
A.EstEnlace:hover { color: #465981; } 
#password {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: 5C5C5C}
#datosCampos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: normal;
	color: #000000;
	font-style: normal;
	letter-spacing: normal;
	word-spacing: normal;
}
#creditos {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal; color: #FFFFFF}
#menu1 {  background-color: #999999; height: 19px}
#menu2 { background-color: #B2B2B2; height: 19px}
#menu3 { background-color: #CCCCCC; height: 19px}
#menu4 { background-color: #E5E5E5; height: 19px}
#menu5 { background-color: #F2F2F2; height: 19px}
#separamenu {  background-color: #FFFFFF; height: 1px}


a:hover { color: #000000; text-align: left ; text-decoration: none;; font-family: Arial, Helvetica, sans-serif; font-size: 10px}
a:link { text-align: left ; text-decoration: none;; color: #496A9A; clip:  rect(   ); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
#titulos {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: italic; font-weight: bold; color: #FFFFFF}
#menu2texto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: left}
#menu3texto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; clip:  rect(   ); text-align: left}
#menu4texto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: left ; clip:  rect(   )}
#menu1texto { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; text-align: left; clip:  rect(   )}
#menu5texto { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #496A9A; text-align: left ; clip:  rect(   )}
#menu6texto { font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #496A9A; text-align: left ; clip:  rect(   )}
a:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-align: left; text-decoration: none; color: #496A9A}
#menuEtiqueta { background-color: #E5E5E5; height: 19px }
#menuEtiquetaTexto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: centre; clip: rect( ) }
#datosTitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #000000; text-align: left; height: auto}
#datosCabecera { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #000000; text-align: right; height: auto}
#arbolbold1 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000;}
#arbolbold2 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000;}
#arbolTexto {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000}
#tablaTitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #000000; background-color: CCCCCC}
#tablaDatos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	padding-right: 4px;
	padding-left: 4px;
}
#ayudaTitle { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #496A9A; text-align: left; height: 30px ; font-style: normal}
#botonContenido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #496A9A;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #F7B13E;
	border-left-color: #FFFFFF;

}
#menu5textonegrita {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	clip:  rect(   );

}
#menu5textoblanca {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	clip:  rect(   );
}
#menu6textonegrita {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	clip:  rect(   );

}
#menu6textoblanca {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	clip:  rect(   );
}
#tablaDatosNegrita {
font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #336699
}
#tablaDatosPar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #E6E6E6;

}
#cabecBlanca {
	background-image: url(../imagenes/gif/cabecBlanca.gif);
	background-repeat: repeat-x;
}
#legend {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #999999; text-align: left; height: auto
}
#botonera {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal; color: #000000; background-color: DEDCDC
}

 #menuF { font-family: Arial; font-size: 12px; font-weight: bold; color: #0000FF; background-color: red;
      text-decoration: none; text-align: left; height: 10px; }        
#inicialF {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bolder;
	color: #DBDBDB;
	text-align: left;
	height: auto;
	font-style: italic;

}
#mainF {
	cursor: hand;

}
#EstCabF { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 9px; text-align: center; text-decoration: none; vertical-align: middle; } 
A.EstCab:hover { color: #465981; } 
#EstCab2F { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 9px; text-align: center; vertical-align: middle; } 
#EstDatF { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #F0F0F0; vertical-align: left; } 
#EstDatCF { color: #1E3887; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #EFF1F3; vertical-align: middle; text-align: center; } 
#EstDatC2F { color: #1E3887; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #DFE5E9; vertical-align: middle; text-align: center; } 
#EstDat2F { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #E0E0E0; vertical-align: left; } 
#EstDatFormF { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; } 
#EstCajaDatFormF { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; height: 16px; border: 1px solid black;} 
#inputF { font-family: Verdana, Arial, Helvetica; color:black; font-size:11px; border: 2 solid #000000; font-weight:bold; cursor: hand; background : white;} 
#EstEnlaceF { color: #232440; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; text-align: left; text-decoration: none; vertical-align: middle; } 
A.EstEnlace:hover { color: #465981; } 
#passwordF {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: 5C5C5C}
#datosCamposF {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: normal;
	color: #000000;
	font-style: normal;
	letter-spacing: normal;
	word-spacing: normal;
}
#creditosF {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal; color: #FFFFFF}
#menu1F {  background-color: #999999; height: 19px}
#menu2F { background-color: #B2B2B2; height: 19px}
#menu3F { background-color: #CCCCCC; height: 19px}
#menu4F { background-color: #E5E5E5; height: 19px}
#menu5F { background-color: #F2F2F2; height: 19px}
#separamenuF {  background-color: #FFFFFF; height: 1px}


a:hover { color: #000000; text-align: left ; text-decoration: none;; font-family: Arial, Helvetica, sans-serif; font-size: 10px}
a:link { text-align: left ; text-decoration: none;; color: #496A9A; clip:  rect(   ); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
#titulosF {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: italic; font-weight: bold; color: #FFFFFF}
#menu2textoF { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: left}
#menu3textoF { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; clip:  rect(   ); text-align: left}
#menu4textoF { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: left ; clip:  rect(   )}
#menu1textoF { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; text-align: left; clip:  rect(   )}
#menu5textoF { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #496A9A; text-align: left ; clip:  rect(   )}
#menu6textoF { font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #496A9A; text-align: left ; clip:  rect(   )}
a:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-align: left; text-decoration: none; color: #496A9A}
#menuEtiquetaF { background-color: #E5E5E5; height: 19px }
#menuEtiquetaTextoF { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: centre; clip: rect( ) }
#datosTitleF { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #000000; text-align: left; height: auto}
#datosCabeceraF { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #000000; text-align: right; height: auto}
#arbolbold1F { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000;}
#arbolbold2F { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000;}
#arbolTextoF {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000}
#tablaTitleF { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #000000; background-color: CCCCCC}
#tablaDatosF {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	padding-right: 4px;
	padding-left: 4px;
}
#ayudaTitleF { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #496A9A; text-align: left; height: 30px ; font-style: normal}
#botonContenidoF {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #496A9A;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #F7B13E;
	border-left-color: #FFFFFF;

}
#menu5textonegritaF {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	clip:  rect(   );

}
#menu5textoblancaF {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	clip:  rect(   );
}
#menu6textonegritaF {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	clip:  rect(   );

}
#menu6textoblancaF {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	clip:  rect(   );
}
#tablaDatosNegritaF {
font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #336699
}
#tablaDatosParF {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #E6E6E6;

}
#cabecBlancaF {
	background-image: url(../imagenes/gif/cabecBlanca.gif);
	background-repeat: repeat-x;
}
#legendF {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #999999; text-align: left; height: auto
}
#botoneraF {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal; color: #000000; background-color: DEDCDC
}

.menu{ font-family: Arial; font-size: 12px; font-weight: bold; color: #0000FF; background-color: red;
      text-decoration: none; text-align: left; height: 10px; }        
.inicial {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bolder;
	color: #DBDBDB;
	text-align: left;
	height: auto;
	font-style: italic;

}
.main {
	cursor: hand;

}
.EstCab { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 9px; text-align: center; text-decoration: none; vertical-align: middle; } 
A.EstCab:hover { color: #465981; } 
.EstCab2 { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 9px; text-align: center; vertical-align: middle; } 
.EstDat { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #F0F0F0; vertical-align: left; } 
.EstDatC { color: #1E3887; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #EFF1F3; vertical-align: middle; text-align: center; } 
.EstDatC2 { color: #1E3887; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #DFE5E9; vertical-align: middle; text-align: center; } 
.EstDat2 { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #E0E0E0; vertical-align: left; } 
.EstDatForm { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; } 
.EstCajaDatForm { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; height: 16px; border: 1px solid black;} 
.input { font-family: Verdana, Arial, Helvetica; color:black; font-size:11px; border: 2 solid #000000; font-weight:bold; cursor: hand; background : white;} 
.EstEnlace { color: #232440; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 10px; text-align: left; text-decoration: none; vertical-align: middle; } 
A.EstEnlace:hover { color: #465981; } 
.password {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: 5C5C5C}
.datosCampos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: normal;
	color: #000000;
	font-style: normal;
	letter-spacing: normal;
	word-spacing: normal;
}
.creditos {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal; color: #FFFFFF}
.menu1 {  background-color: #999999; height: 19px}
.menu2 { background-color: #B2B2B2; height: 19px}
.menu3 { background-color: #CCCCCC; height: 19px}
.menu4 { background-color: #E5E5E5; height: 19px}
.menu5 { background-color: #F2F2F2; height: 19px}
.separamenu {  background-color: #FFFFFF; height: 1px}


a:hover { color: #000000; text-align: left ; text-decoration: none;; font-family: Arial, Helvetica, sans-serif; font-size: 10px}
a:link { text-align: left ; text-decoration: none;; color: #496A9A; clip:  rect(   ); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
.titulos {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: italic; font-weight: bold; color: #FFFFFF}
.menu2texto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: left}
.menu3texto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; clip:  rect(   ); text-align: left}
.menu4texto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: left ; clip:  rect(   )}
.menu1texto { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; text-align: left; clip:  rect(   )}
.menu5texto { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #496A9A; text-align: left ; clip:  rect(   )}
.menu6texto { font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #496A9A; text-align: left ; clip:  rect(   )}
a:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-align: left; text-decoration: none; color: #496A9A}
.menuEtiqueta { background-color: #E5E5E5; height: 19px }
.menuEtiquetaTexto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: centre; clip: rect( ) }
.datosTitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #000000; text-align: left; height: auto}
.datosCabecera { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #000000; text-align: right; height: auto}
.arbolbold1 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000;}
.arbolbold2 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000;}
.arbolTexto {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000}
.tablaTitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #000000; background-color: CCCCCC}
.tablaDatos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	padding-right: 4px;
	padding-left: 4px;
}
.ayudaTitle { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #496A9A; text-align: left; height: 30px ; font-style: normal}
.botonContenido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #496A9A;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #F7B13E;
	border-left-color: #FFFFFF;

}
.menu5textonegrita {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	clip:  rect(   );

}
.menu5textoblanca {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	clip:  rect(   );
}
.menu6textonegrita {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	clip:  rect(   );

}
.menu6textoblanca {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	clip:  rect(   );
}
.tablaDatosNegrita {
font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #336699
}
.tablaDatosPar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #E6E6E6;

}
.cabecBlanca {
	background-image: url(../imagenes/gif/cabecBlanca.gif);
	background-repeat: repeat-x;
}
.legend {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #999999; text-align: left; height: auto
}
.botonera {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal; color: #000000; background-color: DEDCDC
}
