.password {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: 5C5C5C}
.datosCampos { text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000}
.creditos {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal; color: #FFFFFF}
.menu1 {  background-color: #999999; height: 19px}
.menu2 { background-color: #B2B2B2; height: 19px}
.menu3 { background-color: #CCCCCC; height: 19px}
.menu4 { background-color: #E5E5E5; height: 19px}
.menu5 { background-color: #F2F2F2; height: 19px}
.separamenu {  background-color: #FFFFFF; height: 1px}


a:hover { color: #000000; text-align: left ; text-decoration: none;; font-family: Arial, Helvetica, sans-serif; font-size: 10px}
a:link { text-align: left ; text-decoration: none;; color: #496A9A; clip:  rect(   ); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
.titulos {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: italic; font-weight: bold; color: #FFFFFF}
#titulos {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: italic; font-weight: bold; color: #FFFFFF;}
#titulosF {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: italic; font-weight: bold; color: #FFFFFF;}
.menu2texto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: left}
.menu3texto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; clip:  rect(   ); text-align: left}
.menu4texto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: left ; clip:  rect(   )}
.menu1texto { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000; text-align: left; clip:  rect(   )}
.menu5texto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: left ; clip:  rect(   )}
a:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; text-align: left; text-decoration: none; color: #496A9A}
.menuEtiqueta { background-color: #E5E5E5; height: 19px }
.menuEtiquetaTexto { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #496A9A; text-align: centre; clip: rect( ) }
.datosTitle { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; text-align: right; height: 30px}
#datosTitle { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; text-align: right; height: 30px}
.arbolbold1 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000;}
.arbolbold2 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000;}
.arbolTexto {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000}
.tablaTitle { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; background-color: CCCCCC}
.tablaDatos { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #000000 }
.ayudaTitle { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #496A9A; text-align: left; height: 30px ; font-style: normal}
.botonContenido {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #FFFFFF; background-color: #4A699C; border-color: #D0F7FD #333366 #4A699C #D0F7FD; border-style: outset}
#botonContenido {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #FFFFFF; background-color: #4A699C; border-color: #D0F7FD #333366 #4A699C #D0F7FD; border-style: outset}
#tituloCentrado { text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; color: #000000}
.tituloCentrado { text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; color: #000000}
.datosCampos { text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000}
#datosCampos { text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000}
.datosTitle { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; text-align: right; height: 30px}
#datosTitle { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; text-align: right; height: 30px}
.datosTitleLeft { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; text-align: left; height: 30px}
#datosTitleLeft { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; text-align: left; height: 30px}
.datosTitleRight { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; text-align: right; height: 30px}
#datosTitleRight { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; text-align: right; height: 30px}
.datosCamposLeft { text-align: left ; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000}
#datosCamposLeft { text-align: left ; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000}
.datosTitleCenter { text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 30px}
#datosTitleCenter { text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 30px}
.datosCamposCabecera   { background-color: #CCCCCC; text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000; height: 20px; }
#datosCamposCabecera   { background-color: #CCCCCC; text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000; height: 20px; }
#datosCamposCenterImpar{ background-color: #F0F0F0; text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 13px; }
.datosCamposCenterImpar{ background-color: #F0F0F0; text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 13px; }
#datosCamposLeftImpar  { background-color: #F0F0F0; text-align: left ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 13px; }
.datosCamposLeftImpar  { background-color: #F0F0F0; text-align: left ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 13px; }
#datosCamposRightImpar  { background-color: #F0F0F0; text-align: right ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 13px; }
.datosCamposRightImpar  { background-color: #F0F0F0; text-align: right ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 13px; }
#datosCamposLeftPar  { background-color: #E6E6E6; text-align: left ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 13px; }
.datosCamposLeftPar  { background-color: #E6E6E6; text-align: left ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 13px; }
#datosCamposRightPar  { background-color: #E6E6E6; text-align: right ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 13px; }
.datosCamposRightPar  { background-color: #E6E6E6; text-align: right ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 13px; }
#datosCamposCenterPar  { background-color: #E6E6E6; text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 13px; }
.datosCamposCenterPar  { background-color: #E6E6E6; text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 13px; }
.fondoCabecera { background-color: #CCCCCC}
#fondoCabecera { background-color: #CCCCCC}
#password{  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: 5C5C5C}
#tablaDatos { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #000000 }
#datosCamposCenterImparDinamica{ background-color: #F0F0F0; text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 30px; }
.datosCamposCenterImparDinamica{ background-color: #F0F0F0; text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 30px; }
.datosCamposCenterParDinamica{ background-color: #E6E6E6; text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 30px; }
#datosCamposCenterParDinamica{ background-color: #E6E6E6; text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; height: 30px; }

#combo40F { width: 300px;}
#combo30F { width: 235px;}
#combo25F { width: 200px;}
#combo20F { width: 140px;}
#combo15F { width: 105px;}
#combo6F { width: 69px;}
#combo4F { width: 55px;}
#combo2F { width: 41px;}
#combo1F { width: 34px;}

.combo40F { width: 300px;}
.combo30F { width: 220px;}
.combo25F { width: 185px;}
.combo20F { width: 140px;}
.combo15F { width: 105px;}
.combo6F { width: 69px;}
.combo4F { width: 55px;}
.combo2F { width: 41px;}
.combo1F { width: 34px;}

#tituloSolapaMarcada { text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #408AA6;}
#tituloSolapa { text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000;}
.tituloSolapaMarcada { text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #408AA6; cursor:hand}
.tituloSolapa { text-align: center ; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000; }
